body{
    color: #222;
}

main{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    border: 0.5px solid rgb(243, 237, 237);
    border-bottom, border-right: 2px solid black;
    box-shadow: 5px 10px;
    padding: 20px;
    width: 100%;
}

header a{
    text-decoration: none;
    color: inherit;
    cursor:pointer;
}

header a:hover{
    font-size:18px;
    -webkit-transition:0.1s;
    transition-timing-function: linear;
}

header a.logo{
    font-weight: bold;
    font-size: x-large;
}

header nav{
    display: flex;
    gap: 30px;
}

div.seePosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.post{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 400px;
    margin: 24px;
    align-items: center;
    border: 0px solid rgba(0, 0, 0,0.1);
    cursor: pointer;
}

div.post:hover{
    box-shadow: 6px 12px 8px rgb(44, 2, 37, 0.7);
    border: 2px solid rgba(0, 0, 0,0.1);
    border-radius: 8px;
    -webkit-transition:0.3s;
    transition-timing-function: linear;
}

div.img{
    width: 50%;
}

div.content{
    width: 50%;
    margin: 0;
}

h1.title{
    margin: 0;
}

p.authInfo{
    font-size: 0.6rem;
}

p.info{
    font-size: 0.8rem;
    margin: 0;
}

.login, .register{
    display: flex;
    width: 600px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(243, 237, 237);
    border-bottom, border-right: 2px solid black;
    border-radius: 16px;
    box-shadow: 5px 10px;
    padding-bottom: 40px;
    padding-top: 20px;
    margin-top: 150px;
    
}

.login input, .register input{
    padding: 8px;
    margin: 8px;
    width: 400px;
    border: 0;
    border-radius: 12px;
    border-bottom: 3px solid #eee;
}

.login button, .register button{
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    width: 300px;
}

.login button:hover, .register button:hover{
    background-color: #660066;
    color: white;
    width: 320px;
    font-size: 15px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
    -webkit-transition:0.3s;
    transition-timing-function: linear;
}

.login input:focus, .register input:focus{
    outline: 0;
    border-radius: 12px;
    border-bottom: 3px solid #660066;
}

